.about{
  width: 100%;
  height: 300px;
  padding: 20px 0;
  background: #485460;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.about-content{
  width: 75%;
  height: 200px;
}