@media screen and (max-width: 991px) {
  .web-content{
    width: 700px;
  }
  h1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 767px) {
  .web-content{
    width: 500px;
    grid-template-columns: 1fr;
  }
  h1{
    font-size: 40px;
  }
  .about{
    height: 350px;
  }
  .about-content {
    font-size: 18px;
  }
  .contact {
    font-size: 16px;
    &::after {
      width: 60%;
    }
  }

  .contact-header {
    padding-right: 50px;
  }
}
@media screen and (max-width: 575px) {
  .web-content{
    width: 90%;
  }
  h1{
    font-size: 35px;
  }
  .line{
    width: 200px;
  }
  .git-repo{
    font-size: 18px;
  }
  .menu-list{
    width: 100%;
  }
  .contact{
    flex-direction: column;
    height: 400px;
    & div{
      width: 100%;
    }
    &::after{
      width: 100%;
      height: 50%;
      top: 0;
      left: 0;
      transform: skew(0deg);
    }
    border-bottom: 1px solid #d2dae2;
  }
  .contact-header{
    padding: 5px;
  }
}
@media screen and (max-width: 370px) {
  .about{
    height: 425px;
  }
}