@media screen and (max-width: 991px) {
  .web-content{
    width: 700px;
  }
  h1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 767px) {
  .web-content{
    width: 500px;
    grid-template-columns: 1fr;
  }
  h1{
    font-size: 40px;
  }
  .about{
    height: 350px;
  }
  .about-content {
    font-size: 18px;
  }
  .contact{
    font-size: 18px;
    a{
      width: 180px;
    }
  }
}
@media screen and (max-width: 575px) {
  .web-content{
    width: 90%;
  }
  h1{
    font-size: 35px;
  }
  .line{
    width: 200px;
  }
  .git-repo{
    font-size: 18px;
  }
  .menu-list{
    width: 100%;
  }
  .contact{
    font-size: 18px;
  }
}
@media screen and (max-width: 370px) {
  .contact{
    flex-direction: column;
    height: 150px;
  }
}