.photo-section{
  width: 100%;
  min-height: 900px;
  padding: 100px 0;
  background: #1e272e;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.line{
  width: 400px;
  height: 2px;
  margin: 20px 0;
  background: #d2dae2;
}
.photo-container{
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
  div{
    box-flex: auto;
    flex: auto;
    width: 300px;
    margin: .5vw;
  }
  img{
    width: 100%;
    height: auto;
  }
}