.top {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #1e272e;
}
.menu{
  width: 100%;
  height: 50px;
  position: fixed;
  box-sizing: content-box;
  padding-top: 5px;
  transition: all .5s ease;
}
.menu-bg{
  width: 100%;
  height: 50px;
  color: #485460;
  background-color: #d2dae2;
  transform-origin: 0 0;
  animation: slideDown .6s ease alternate;
  .menu-btn-line{
    background: #485460;
  }
}
@keyframes slideDown {
  from{
    transform: scaleY(0);
  }
  to{
    transform: scaleY(1);
  }
}
.placeholder{
  position: static;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  h2{
    text-align: start;
    margin-left: 10px;
  }
}
.menu-btn{
  width: 30px;
  height: 30px;
  justify-self: flex-end;
  align-self: center;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.menu-btn-line{
  width: 100%;
  height: 4px;
  background: #d2dae2;
}
.menu-list {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: #d2dae2;
  color: #1e272e;
  align-self: end;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
  transition: all .5s ease;
  transform-origin: 100% 0%;
  transform: scaleX(.0);
}
.menu-btn-inside{
  position: absolute;
  top: 9px;
  left: 0;
  justify-content: center;
  margin-left: 10px;
}
.menu-btn-x{
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  background: #1e272e;
  transform-origin: 50% 50%;
}
.menu-btn-x:nth-child(1) {
  transform: rotate(45deg);
}
.menu-btn-x:nth-child(2) {
  transform: rotate(-45deg);
}
.menu-list-active{
  transform: scaleX(1);
}
.menu-item{
  width: 90%;
  height: 30px;
  margin: 20px 0;
  border-bottom: 1px solid #d2dae2;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:hover{
    &::before{
      top: -50%;
    }
  }
  &::before{
    position: absolute;
    content: '';
    display: block;
    width: 150%;
    height: 60px;
    left: -25%;
    top: 110%;
    border-radius: 100%;
    background-color: #485460;
    transition: all .6s ease;
    z-index: -1;
  }
}
h1{
  letter-spacing: 5px;
  font-weight: 300;
  font-size: 50px;
}
.scroll{
  width: 100px;
  height: 50px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &:hover{
    span{
      animation: textScroll .5s alternate forwards;
    }
  }
  span{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: all .5s ease;
  }
}
@keyframes textScroll {
  from{
    top: 0%;
  }
  to{
    top: 50%;
  }
}