*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Rubik',
  sans-serif;
  background: #1e272e;
  color: black;
}
.site{
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top{
  width: 100%;
  height: 100vh;
}