*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Rubik',
  sans-serif;
  color: #d2dae2;
  font-size: 21px;
}
.site{
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.line{
  width: 250px;
  height: 2px;
  background: #d2dae2;
  margin: 20px 0;
}
@import '_top.scss';
@import '_about.scss';
@import '_contact.scss';
@import '_web.scss';
@import '_media.scss';